<!DOCTYPE html>
<html lang="en">
<head id="headId">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div align="center">
        <h1 id="gameTitle">Roll The Dice Game Content</h1>
        <h3 id="mainMessage">Main message content</h3>
        <h3 id="resultMessage">Result message content</h3>

        <form id="playId" action="play" method="post">
            <label id="enterGuess" for="guess">Enter your guess content</label>
            <input id="guess" type="number" name="guess"/>
            <input id="submit" type="submit" value="Submit"/>
        </form>

        <footer id="footerId">footer content</footer>
    </div>

</body>
</html>